NET "GCK0" TNM_NET = "GCK0";
TIMESPEC "TS_GCK0" = PERIOD "GCK0" 20 ns HIGH 50 %;

#LED
NET "LED[0]" LOC = P97;
NET "LED[1]" LOC = P95;
NET "LED[2]" LOC = P94;
NET "LED[3]" LOC = P98;
NET "GCK0" LOC = P56;
